
@using WeatherSite.Models

@model PaginationVM

<div class="row">
    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
        <div class="input-group" data-toggle="tooltip" data-placement="top" data-animation="true" style="display: flex; justify-content: center">

            <select id="number-of-entities-on-page-select" class="form-control-lg" title="Choose number of entities to show">
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>

            <span class="input-group-btn">

                <button type="button" class="btn btn-lg btn-outline-primary btn-block" onclick="pagination('@Model.ElementId', '@Model.Url', 1, getNumberOfEntitiesOnPageSelectedValue())">
                    <i class="fas fa-caret-square-right"></i>
                    Show
                </button>
            </span>
        </div>
    </div>

    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">

        <div style="display: flex; justify-content: center">

            <ul class="pagination pagination-lg m-0 float-md-none">
                @if (Model.NumberOfPages > 1)
                {
                    @if (Model.PageNumber > 1)
                    {
                        <li class="page-item">
                            <a href="#" aria-label="Previous" class="page-link" onclick="pagination('@Model.ElementId', '@Model.Url', (@Model.PageNumber - 1), @Model.NumberOfEntitiesOnPage)">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <a href="#" aria-label="Previous" class="page-link">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }

                    if (Model.PageNumber != 1)
                    {
                        <li class="page-item">
                            <a href="#" class="page-link" onclick="pagination('@Model.ElementId', '@Model.Url', 1, @Model.NumberOfEntitiesOnPage)">
                                1
                            </a>
                        </li>

                        if (Model.PageNumber > 2)
                        {
                            <li class="page-item">
                                <a href="#" class="page-link" onclick="pagination('@Model.ElementId', '@Model.Url', (@Model.PageNumber - 1), @Model.NumberOfEntitiesOnPage)">
                                    @(Model.PageNumber - 1)
                                </a>
                            </li>
                        }
                    }

                    <li class="active page-item">
                        <a href="#" class="page-link">
                            @Model.PageNumber
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    if (Model.PageNumber != Model.NumberOfPages)
                    {
                        if (Model.PageNumber < (Model.NumberOfPages - 1))
                        {
                            <li class="page-item">
                                <a href="#" class="page-link" onclick="pagination('@Model.ElementId', '@Model.Url', (@Model.PageNumber + 1), @Model.NumberOfEntitiesOnPage)">
                                    @(Model.PageNumber + 1)
                                </a>
                            </li>
                        }

                        <li class="page-item">
                            <a href="#" class="page-link" onclick="pagination('@Model.ElementId', '@Model.Url', @Model.NumberOfPages, @Model.NumberOfEntitiesOnPage)">
                                @Model.NumberOfPages
                            </a>
                        </li>
                    }

                    @if (Model.PageNumber != Model.NumberOfPages)
                    {
                        <li class="page-item">
                            <a href="#" aria-label="Next" class="page-link" onclick="pagination('@Model.ElementId', '@Model.Url', (@Model.PageNumber + 1), @Model.NumberOfEntitiesOnPage)">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <a href="#" aria-label="Next" class="page-link">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>

    </div>
</div>

<script>
    $("#number-of-entities-on-page-select").val('@(Model.NumberOfEntitiesOnPage)');
</script>