
@model IPaginationVM

<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
        <div class="input-group" data-toggle="tooltip" data-placement="top" data-animation="true" style="display: flex; justify-content: left">

            <select id="number-of-entities-on-page-select" class="form-control-lg" title="Choose number of entities to show">
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>

            <span class="input-group-btn">

                <button type="button" class="btn btn-lg btn-outline-primary btn-block" onclick="pagination('@Model.ElementId', '@Model.Url', 1, getNumberOfEntitiesOnPageSelectedValue())">
                    <i class="fas fa-caret-square-right"></i>
                    Show
                </button>
            </span>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">

        <div style="display: flex; justify-content: center">

            <ul class="pagination pagination-lg m-0 float-md-none">
                @if (Model.NumberOfPages > 1)
                {
                    @if (Model.PageNumber > 1)
                    {
                        <li class="page-item">
                            <a href="#" aria-label="Previous" class="page-link" onclick="pagination('@Model.ElementId', '@Model.Url', (@Model.PageNumber - 1), @Model.NumberOfEntitiesOnPage)">
                                <span aria-hidden="true">
                                    @*&laquo;*@
                                    <i class="fas fa-angle-double-left"></i>
                                </span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <a href="#" aria-label="Previous" class="page-link">
                                <span aria-hidden="true">
                                    @*&laquo;*@
                                    <i class="fas fa-angle-double-left"></i>
                                </span>
                            </a>
                        </li>
                    }

                    if (Model.PageNumber != 1)
                    {
                        <li class="page-item">
                            <a href="#" class="page-link" onclick="pagination('@Model.ElementId', '@Model.Url', 1, @Model.NumberOfEntitiesOnPage)">
                                1
                            </a>
                        </li>

                        if (Model.PageNumber > 2)
                        {
                            <li class="page-item">
                                <a href="#" class="page-link" onclick="pagination('@Model.ElementId', '@Model.Url', (@Model.PageNumber - 1), @Model.NumberOfEntitiesOnPage)">
                                    @(Model.PageNumber - 1)
                                </a>
                            </li>
                        }
                    }

                    <li class="active page-item">
                        <a href="#" class="page-link">
                            @Model.PageNumber
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    if (Model.PageNumber != Model.NumberOfPages)
                    {
                        if (Model.PageNumber < (Model.NumberOfPages - 1))
                        {
                            <li class="page-item">
                                <a href="#" class="page-link" onclick="pagination('@Model.ElementId', '@Model.Url', (@Model.PageNumber + 1), @Model.NumberOfEntitiesOnPage)">
                                    @(Model.PageNumber + 1)
                                </a>
                            </li>
                        }

                        <li class="page-item">
                            <a href="#" class="page-link" onclick="pagination('@Model.ElementId', '@Model.Url', @Model.NumberOfPages, @Model.NumberOfEntitiesOnPage)">
                                @Model.NumberOfPages
                            </a>
                        </li>
                    }

                    @if (Model.PageNumber != Model.NumberOfPages)
                    {
                        <li class="page-item">
                            <a href="#" aria-label="Next" class="page-link" onclick="pagination('@Model.ElementId', '@Model.Url', (@Model.PageNumber + 1), @Model.NumberOfEntitiesOnPage)">
                                <span aria-hidden="true">
                                    @*&raquo;*@
                                    <i class="fas fa-angle-double-right"></i>
                                </span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <a href="#" aria-label="Next" class="page-link">
                                <span aria-hidden="true">
                                    <i class="fas fa-angle-double-right"></i>
                                    @*&raquo;*@
                                </span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>

    </div>

    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">

        <div class="input-group input-group-lg">
            <input id="page-number-user-input" type="text" class="form-control" placeholder="Page no.">
            <span class="input-group-append">
                <button id="show-page-given-by-user-btn"
                        type="button"
                        disabled
                        class="btn btn-lg btn-outline-primary btn-block"
                        onclick="pagination('@Model.ElementId', '@Model.Url', getPageNumberUserInputValue(), @Model.NumberOfEntitiesOnPage)">
                    <i class="fas fa-caret-square-right"></i>
                    Show
                </button>
            </span>
        </div>
    </div>
</div>

@*TODO: move it to its own js file and refactor it*@
<script>

    $("#number-of-entities-on-page-select").val('@(Model.NumberOfEntitiesOnPage)');

    $('#page-number-user-input')[0].focus({ preventScroll: true });

    //I leave this chunk of code in the comments below for nowa as a future referance
    //if ($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
    //    $('#page-number-user-input').focus();
    //}

    //$(window).scroll(function () {
    //    if ($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
    //    }
    //});

    $('#page-number-user-input').on('keypress', function (e) {

        if (e.which === 13 && $(this).val().length > 0) {

            pagination('@Model.ElementId', '@Model.Url', getPageNumberUserInputValue(), @Model.NumberOfEntitiesOnPage);
        }
    });

    $("#page-number-user-input").on("input", function () {

        if ($(this).val().length > 0) {

            if ($.isNumeric($(this).val())) {

                if ($(this).val() <= 0) {

                    $(document).Toasts('create', {
                        class: 'bg-warning',
                        icon: 'fas fa-exclamation-triangle fa-lg',
                        title: 'Warning message',
                        body: 'Page number must bigger than 0',
                        autohide: true,
                        delay: 3000
                    });
                }
                else if ($(this).val() > @(Model.NumberOfPages)) {

                    $(document).Toasts('create', {
                        class: 'bg-warning',
                        icon: 'fas fa-exclamation-triangle fa-lg',
                        title: 'Warning message',
                        body: 'Page number can\'t be bigger than number of pages available',
                        autohide: true,
                        delay: 3000
                    });
                }
                else {
                    $('#show-page-given-by-user-btn').prop('disabled', false);
                    return;
                }
            }
            else {

                $(document).Toasts('create', {
                    class: 'bg-warning',
                    icon: 'fas fa-exclamation-triangle fa-lg',
                    title: 'Warning message',
                    body: 'Page number must be a number',
                    autohide: true,
                    delay: 3000
                });
            }

            $('#show-page-given-by-user-btn').prop('disabled', true);
            $("#page-number-user-input").val('');
            $("#page-number-user-input").focus();
        }
    });
</script>